<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加词库项目</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/index.css" rel="stylesheet">
    <link href="css/picUpload.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
            background-color: #428bca!important;
            color: #fff!important;
        }
        .new-alert {
            line-height: 24px!important;
            padding-top: 5px!important;
            padding-bottom: 5px!important;
            margin-bottom: 0!important;
        }
        #uploadForm {
            margin-left: 15px;
            margin-top: 5px;
        }
    </style>
</head>
    <body>
        <!-- 顶部区域 -->
        <div class="container-fluid header-fluid-top">
            <div class="row">
                <div class="container header-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <a href="#">
                                <img src="images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 导航 -->
        <div class="navbar navbar-inverse nav-fluid-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="Thesaurus.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])">词库首页</a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        
                    </ul>
                    <log-component></log-component>
                </div>
            </div>
        </div>

        <!-- 主内容区域 -->
        <div class="container marginTop">
            <div class="row">
                <div class="col-md-12">
                    <ul id="myTab" class="nav nav-tabs" role="tablist" style="background-color: #fff;">
                        <li role="presentation" class="active">
                            <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">手工录入</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">批量导入</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 marginTop">
                    <div id="myTabContent" class="tab-content">
                        <!-- 手工录入 -->
                        <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">添加项目</div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">项目名称:</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" v-model="name" placeholder="输入名称" class="form-control">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="alert alert-danger new-alert" v-show="en_alert" role="alert"> 请输入说明的项目名称，建议使用唯一性的简短英文字符
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">状态:</label>
                                                        <div class="col-sm-4">
                                                            <select class="form-control" readonly>
                                                                <option value="">启用</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">项目描述:</label>
                                                        <div class="col-sm-4">
                                                            <textarea v-model="remark" cols="30" rows="5" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 按钮 -->
                                            <div class="col-md-3 col-md-offset-2 text-center">
                                                <button @click="creatProduct" class="btn btn-primary">保存</button>
                                                <a href="Thesaurus.html" class="btn btn-default">返回</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 批量导入 -->
                        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">添加项目</div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">模板文件:</label>
                                                        <div class="col-sm-4">
                                                            <a :href="download" class="btn btn-link">点击下载</a>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">上传文件:</label>
                                                        <div class="col-sm-4">
                                                            <div id="uploadForm">
                                                                <div class="form-group">
                                                                    <input type="file" id="file">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">导入结果:</label>
                                                        <div class="col-sm-4">
                                                            <div class="alert alert-info new-alert" role="alert">
                                                                <dl class="dl-horizontal">
                                                                     <dt>总共上传个数：</dt>
                                                                     <dd>{{respons.count}}</dd>
                                                                     <dt>成功个数:</dt>    
                                                                     <dd>{{respons.success}}</dd>
                                                                     <dt>失败个数:</dt>
                                                                     <dd>{{respons.fail}}</dd>
                                                                </dl>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 按钮 -->
                                            <div class="col-md-3 col-md-offset-2 text-center">
                                                <button @click="upload" class="btn btn-primary">导入</button>
                                                <!-- <button class="btn btn-primary">保存</button> -->
                                                <a href="Thesaurus.html" class="btn btn-default">返回</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <!-- <pre>{{$data|json}}</pre> -->
            </div>
        </div>

        <!-- 页脚 -->
        <div class="container-fluid footer-fluid">
            <div class="contaier">
                <div class="row">
                    <div class="col-lg-12">
                        © All rights reserved 深圳福克斯德信息咨询有限公司
                    </div>
                </div>
            </div>
        </div>

        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="js/jquery.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/cookie.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="js/bootstrap.min.js"></script>
        <script src='js/layer.js'></script>
        <!-- 检测登录状态 -->
        <script src='js/control.js'></script>
        <script src='js/serverUrl.js'></script>
        <script src='js/navTpl.js'></script>
        <script src='js/add-Thesaurus.js'></script>
    </body>
</html>