<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加用户</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/index.css" rel="stylesheet">
    <link href="css/picUpload.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .alert{
            padding: 0;
        }
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
            background-color: #428bca!important;
            color: #fff!important;
        }
        .new-alert {
            line-height: 24px!important;
            padding-top: 5px!important;
            padding-bottom: 5px!important;
            margin-bottom: 0!important;
        }
        .bootstrap-tagsinput {
            width: 100%;
            /*min-height: 32px;*/
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            display: inline-block;
            padding: 4px 6px;
            color: #555;
            vertical-align: middle;
            border-radius: 4px;
            max-width: 100%;
            line-height: 22px;
            cursor: text;
        }
        .bootstrap-tagsinput .tag {
            margin-right: 2px;
            color: white;
        }
        .bootstrap-tagsinput .tag [data-role="remove"] {
            margin-left: 8px;
            cursor: pointer;
        }
        .bootstrap-tagsinput .tag [data-role="remove"]:after {
            content: "x";
            padding: 0px 2px;
        }
        .pors .input-list,.pors .cate-list {
            top: 34px;
            left: 15px;
            position: absolute;
            z-index: 666;
            list-style: none;
            padding-left: 0;
            border: 1px solid #ccc;
            border-top: transparent;
            background-color: #fff;
        }
        .pors .cate-list li {
            line-height: 32px;
            text-indent: 12px;
            border-bottom: 1px solid #ddd;
            color: #8a6d3b;
            font-size: 12px;
        }
        .pors .cate-list li:hover {
            background-color: #ECF0F1;
            cursor: pointer;
        }
        .paddingLeft {
            padding-left: 0;
        }
        .searchShadow {
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        }
        .searchShadow:focus {
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
            border-color: #ccc;
        }
        .searchCompent {
            display: none;
        }
        .height {
            min-height: 32px!important;
            overflow: auto;
            background-color: #ccc;
        }
    </style>
</head>
<body>
    <!-- 顶部区域 -->
    <div class="container-fluid header-fluid-top">
        <div class="row">
            <div class="container header-top">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <a href="#">
                            <img src="images/logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 导航 -->
    <div class="navbar navbar-inverse nav-fluid-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-sm" href="user-list.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])">用户首页</a>
            </div>
            <div class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav">
                    
                </ul>
                <log-component></log-component>
            </div>
        </div>
    </div>

    <!-- 主内容区域 -->
    <div class="container marginTop">
        <div class="row">
            <div class="col-md-12 marginTop">
                <div id="myTabContent" class="tab-content">
                    <!-- 手工录入 -->
                    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">添加用户</div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"><span class="text-red">*</span>用户名:</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" v-model="user_name" placeholder="请输入用户名" class="form-control">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="alert alert-danger new-alert" v-show="al_name" role="alert">用户名不能为空
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"><span class="text-red">*</span>密码:</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" v-model="password" placeholder="输入密码" class="form-control">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="alert alert-danger new-alert" v-show="al_pass" role="alert">密码不能为空且只能是英文字母和数字
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"><span class="text-red">*</span>真实用户名：</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" v-model="real_name" placeholder="请输入真实名字" class="form-control">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="alert alert-danger new-alert" v-show="al_true" role="alert">请输入真实姓名
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">E-mail</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" v-model="email" placeholder="请输入邮箱" class="form-control">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="alert alert-danger new-alert" v-show="al_email" role="alert">请输入正确的邮箱
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">手机号</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" v-model="mobile" placeholder="请输入手机号" class="form-control">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="alert alert-danger new-alert" v-show="al_mobile" role="alert">请输入正确的手机号
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"><span class="text-red">*</span>是否员工</label>
                                                    <div class="col-sm-1">
                                                        <select class="form-control" v-model="is_staff">
                                                            <option value="1">是</option>
                                                            <option value="0" selected>否</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-sm-2 control-label"><span class="text-red">*</span>是否领导</label>
                                                    <div class="col-sm-1">
                                                        <select class="form-control" v-model="is_head">
                                                            <option value="1">是</option>
                                                            <option value="0" selected>否</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"><span class="text-red">*</span>所属角色</label>
                                                    <div class="col-sm-4">
                                                        <div class="bootstrap-tagsinput height">
                                                            <span class="tag label label-info" v-for="org in orgSelect">
                                                                {{org.name}}<span data-role="remove" @click="removeOrg(org)"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <button class="btn btn-info btn-sm searchBtn">搜索</button>
                                                    </div>
                                                    
                                                    <div class="col-sm-5">
                                                        <div class="alert alert-danger new-alert" v-show="al_role" role="alert">请选择所属角色
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4 col-sm-offset-2 pors searchCompent">
                                                        <input type="text" class="form-control searchShadow searchCate " placeholder="输入关键字搜索类目">
                                                        <ul class="cate-list">
                                                            <template v-for="one in oneList" v-if="$index<=9">
                                                                <li @click="selectOne(one)">
                                                                    {{one.name}}
                                                                </li>
                                                            </template>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-1 text-left paddingLeft searchCompent">
                                                        <button class="btn btn-default closeBtn searchShadow">
                                                            <i class="fa fa-close"></i>
                                                        </button>
                                                    </div>
                                                </div>  
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">备注:</label>
                                                    <div class="col-sm-4">
                                                        <textarea v-model="remark" cols="30" rows="5" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 按钮 -->
                                        <div class="col-md-3 col-md-offset-2 text-center">
                                            <button @click="adduserbtn" class="btn btn-success">添加</button>
                                            <a href="user-list.html" class="btn btn-default col-md-offset-1">返回</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- <pre>{{$data|json}}</pre> -->
        </div>
    </div>

    <!-- 页脚 -->
    <div class="container-fluid footer-fluid">
        <div class="contaier">
            <div class="row">
                <div class="col-lg-12">
                    © All rights reserved 深圳福克斯德信息咨询有限公司
                </div>
            </div>
        </div>
    </div>

    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/cookie.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="js/bootstrap.min.js"></script>
    <script src='js/layer.js'></script>
    <!-- 检测登录状态 -->
    <script src='js/control.js'></script>
    <script src='js/serverUrl.js'></script>
    <script src='js/navTpl.js'></script>
    <script src='js/add_user.js'></script>
</body>
</html>