<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>批量表编辑</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/index.css" rel="stylesheet">
    <link href="css/handsontable.full.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .panel-top {
            position: relative;
        }
        .pullUP {
            color: #777;
            position: absolute;
            bottom: -5px;
            left: 50%;
            margin-left: -20px;
            width: 40px;
            height: 26px;
            background-color: rgba(221, 221, 221, .8);
            text-align: center;
            line-height: 34px;
            cursor: pointer;
        }
        .pullDown {
            color: #777;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -20px;
            width: 40px;
            height: 26px;
            background-color: rgba(221, 221, 221, .8);
            text-align: center;
            line-height: 34px;
            cursor: pointer;
            z-index: 5;
            display: none;
        }
        .dl-horizontal dt {
            color: #337ab7;
        }
        .dl-horizontal dd {
            color: #333;
        }
        #table {
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
        }
        .underLine {
            border-bottom: 1px solid #ddd;
        }
        .infoPanel {
            max-height: 420px;
            overflow-y: auto;
        }
        .infoPanel-botton {
            margin-top: 2px;
        }
        .text-lineheigt {
            line-height: 34px;
            margin-left: -15px;
            margin-right: -15px;
        }
        .handsontable table .btn {
            margin: 5px
        }
        .handsontable td {
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap !important;
        }
        .img-show-content {
            width: 1400px;
            height: 1px;
            margin-left: auto;
            margin-right: auto;
        }
        .img-show {
            position: absolute;
            z-index: 100001;
            top: 100px;
            left: 800px;
            width: 240px;
            height: 240px;
            max-width: 220px;
            max-height: 220px;
            height: auto;
            background-color: #fff;
            border: 1px solid #ddd;
            display: none;
        }
    </style>
</head>
    <body>
        <div class="pullDown">
            <i class="fa fa-2x fa-angle-down" aria-hidden="true"></i>
        </div>
        <!-- 顶部容器 -->
        <div class="panel-top pors">
            <!-- 顶部区域 -->
            <div class="container-fluid header-fluid-top">
                <div class="row">
                    <div class="container header-top">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <a href="#">
                                    <img src="images/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 导航 -->
            <div class="navbar navbar-inverse nav-fluid-top">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand hidden-sm" href="Table-batch.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])">批量表首页</a>
                    </div>
                    <div class="navbar-collapse collapse" role="navigation">
                        <ul class="nav navbar-nav">
                            
                        </ul>
                        <log-component></log-component>
                    </div>
                </div>
            </div>
               
            <!-- 步骤 -->
            <div class="container marginTop">
                <div class="row">
                    <div class="container">
                        <div class="row form-group">
                            <div class="col-md-12 col-xs-12">
                                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                                    <li class="disabled">
                                        <a href="javascript:">
                                            <h3 class="list-group-item-heading">第一步</h3>
                                            <p class="list-group-item-text">
                                                <h4>创建表格</h4>
                                                <i class="fa fa-table fa-3x"></i>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="javascript:">
                                            <h3 class="list-group-item-heading">第二步</h3>
                                            <p class="list-group-item-text">
                                                <h4>编辑产品</h4>
                                                <i class="fa fa-edit fa-3x"></i>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="disabled">
                                        <a href="javascript:">
                                            <h3 class="list-group-item-heading">第三步</h3>
                                            <p class="list-group-item-text">
                                                <h4>上传图片</h4>
                                                <i class="fa fa-file-image-o fa-3x"></i>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="disabled">
                                        <a href="javascript:">
                                            <h3 class="list-group-item-heading">第四步</h3>
                                            <p class="list-group-item-text">
                                                <h4>完成表格</h4>
                                            </p>
                                            <i class="fa fa-cloud-upload fa-3x"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 功能区 -->
            <div class="container ">
                <div class="row">
                    <div class="col-md-12">
                        <ul id="myTab" class="nav nav-tabs" role="tablist" style="background-color: #fff;border-bottom:0;">
                            <li role="presentation" class="active">
                                <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">常规信息</a>
                            </li>
                            <li role="presentation" class="" >
                                <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">默认值</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#relate" role="tab" id="relate-tab" data-toggle="tab" aria-controls="relate" aria-expanded="false">数据检查</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 ">
                        <div id="myTabContent" class="tab-content">
                            <!-- 常规信息 -->
                            <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default infoPanel">
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p class="underLine">表格信息</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <p>表格编号：{{info.form_no}}</p>
                                                            <p>所属类目：{{info.name}}</p>
                                                            <p>使用模板：{{info.tempname}}</p>
                                                            <p>产品数量：{{info.productCount}}</p>
                                                            <p>状态: {{info.status_code}}</p>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p>表格名称：{{info.title}}</p>
                                                            <p>所属产品：{{info.name}}</p>
                                                            <p>所属客户：{{info.client_name}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p class="underLine">信息提示</p>
                                                            <p class="text-warning" style="margin-bottom: 20px">
                                                                如果您对表格当前页进行过修改，请一定点击“暂存”按钮，保存修改结果后再离开(包括刷新)。否则，修改内容会丢失。
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 默认值 -->
                            <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default infoPanel">
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-md-2 radio">值类型：</label>
                                                            <div class="radio col-sm-3">
                                                                <label>
                                                                    <input type="radio" name="product-tab" v-model="chioce" value="option1" checked>固定值
                                                                </label>
                                                            </div>
                                                            <div class="radio col-sm-3">
                                                                <label>
                                                                    <input type="radio" name="product-tab" v-model="chioce" value="option2">变化值
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="con-tab">
                                                        <div v-show="chioce == 'option1'" class="" id="currency-set">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th>项目</th>
                                                                    <th>默认值</th>
                                                                    <th>操作</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <template v-for="settong in defaultVal">
                                                                    <tr id="adddata">
                                                                        <td><p>{{$key}}</p></td>
                                                                        <td><input type="text" v-model="settong" value="" class="form-control"></td>
                                                                        <td>
                                                                            <button @click="removeDeval($key)" class="btn btn-danger">
                                                                                删除
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </template>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                        <div v-show="chioce == 'option2'" class="" id="variant-set" >
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th>项目</th>
                                                                    <th>parent</th>
                                                                    <th>child</th>
                                                                    <th>操作</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <template v-for="setbian in variantVal">
                                                                    <tr>
                                                                        <td><p>{{$key}}</p></td>
                                                                        <div>
                                                                        <td><input type="text" v-model="setbian[0]" class="form-control"></td>
                                                                        <td>
                                                                            <input type="text" v-model="setbian[1]" class="form-control">
                                                                        </td>
                                                                        </div>
                                                                        <td>
                                                                            <button @click="removeVaval($key)" class="btn btn-danger">
                                                                                删除
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </template>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12  text-center">
                                                    <button @click="submitset" v-show="fillBtn" class="btn btn-success">自动填表</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 数据检查 -->
                            <div role="tabpanel" class="tab-pane fade" id="relate" aria-labelledby="relate-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default infoPanel">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <template v-for="check in checkData">
                                                        <div class="col-md-5">
                                                            <div class="form-horizontal">
                                                                <div class="form-group">
                                                                    <label class="col-sm-6 control-label text-muted">{{check[0]}}</label>
                                                                    <div class="col-sm-4">
                                                                        <select class="form-control" v-model="check[1]">
                                                                            <option value="{{op}}" v-for="op in checkTyle">{{op | ruleType}}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <button class="btn btn-info gocheck btn-md">检查</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pullUP">
                <i class="fa fa-2x fa-angle-up" aria-hidden="true"></i>
            </div>
        </div>


        <!-- 主内容区域 -->
        <div class="img-show-content pors">
            <img class="img-show" src="images/logo.png" alt="">
        </div>
        <div id="table"></div>

        <div class="container marginTop">
            <div class="col-md-12 text-center">
                <button class="btn btn-info cacheData">暂存</button>
                <button class="btn btn-primary submitData">提交</button>
                <button @click="takeBack" class="btn btn-default">撤销</button>
            </div>
        </div>
        
        <!-- 回到顶部 -->
        <div class="scrollToTop">
            <i class="fa fa-3x fa-angle-up" aria-hidden="true"></i>
        </div>

        <div class="container">
            <div class="row">
                <hr>
                <!-- <pre>{{$data|json}}</pre> -->
            </div>
        </div>


        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="js/jquery.js"></script>
        <script src="js/handsontable.full.min-pro.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/cookie.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="js/bootstrap.min.js"></script>
        <script src='js/layer.js'></script>
        <!-- 检测登录状态 -->
        <script src='js/control.js'></script>
        <script src='js/serverUrl.js'></script>
        <script src='js/navTpl.js'></script>
        <script src='js/batch-table-edit.js'></script>
    </body>
</html>