<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>数据库分区</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .table th,.table td {
            text-align: center;
            vertical-align: middle!important;
            min-width: 45px;
        }
        .table td .btn {
            margin-bottom: 5px;
        }
        .nav-tabs{
            border:none;
        }
        .form-control{
            height: 50px;
            margin: 7px  ;
        }
        .btn{
            margin: 15px;
        }
        .progress {
            position: relative;
            height: 25px;
        }
        .progress > .progress-type {
            position: absolute;
            left: 0px;
            font-weight: 800;
            padding: 3px 30px 2px 10px;
            color: rgb(255, 255, 255);
            background-color: rgba(25, 25, 25, 0.2);
        }
        .progress > .progress-completed {
            position: absolute;
            right: 0px;
            font-weight: 800;
            padding: 3px 10px 2px;
        }

    </style>
</head>
    <body>
        <!-- 顶部区域 -->
        <div class="container-fluid header-fluid-top">
            <div class="row">
                <div class="container header-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <a href="#">
                                <img src="images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 导航 -->
        <div class="navbar navbar-inverse nav-fluid-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="javascript:">福克斯德</a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <nav-component></nav-component>
                    </ul>
                    <log-component></log-component>
                </div>
            </div>
        </div>

        <!--功能选项卡-->
        
        <div class="container marginTop">
            <div class="row">
                <div class="col-lg-12" id="data-tab">
                    <div class="panel panel-success">
                        <div class="panel-heading"><h4>功能选择区域</h4></div>
                        <div class="panel-body">
                            <div class="form-horizontal control-panel">
                                <ul class="nav nav-tabs">
                                    <li class="active col-lg-2"><a href="#tab4" data-toggle="tab">数据库数据统计</a></li>
                                    <li class="col-lg-2"><a href="#tab1" data-toggle="tab">创建分区</a></li>
                                    <li class="col-lg-2"><a href="#tab2" data-toggle="tab">修改分区</a></li>
                                    <li class="col-lg-2"><a href="#tab3" data-toggle="tab">分区扩容</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content col-lg-12 ">
                        <div class="active tab-pane" id="tab4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-defaault">
                                        <div class="panel-heading">
                                            <h4><b class="text-primary">数据库数据统计</b></h4>
                                            <button class="btn btn-info btn-sm" @click="Reflesh">刷新</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <table class="table table-bordered">
                                                    <tr class="info">
                                                        <th class="text-center">序号</th>
                                                        <th class="text-center">数据表的数据量</th>
                                                        <th class="text-center">数据表的分区数量</th>
                                                        <th class="text-center">数据表的子分区数量</th>
                                                        <th class="text-center table-width">与警戒值的比例</th>
                                                    </tr>
                                                    <template v-for="table in dataList">
                                                        <tr class="text-center">
                                                            <td class="col-md-1 text-muted">{{$index+1}}</td>
                                                            <td class="col-md-1">{{table.count}}</td>
                                                            <td class="col-md-1">{{table.subarea_num}}</td>
                                                            <td class="col-md-1">{{table.subarea_subnum}}</td>
                                                            <td class="col-md-8">
                                                                <template v-if="table.percentage < 50">
                                                                    <div class="progress">
                                                                        <div class="progress-bar progress-bar-success" :style="{width:table.percentage + '%'}" style="min-width: 10px;">
                                                                            <span class="sr-only">{{table.percentage + '%'}}</span>
                                                                        </div>
                                                                        <span class="progress-type">{{table.table_name}}</span>
                                                                        <span class="progress-completed">{{table.percentage + '%'}}</span>
                                                                    </div>
                                                                </template>
                                                                <template v-else>
                                                                    <template v-if="table.percentage < 70">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-warning" :style="{width:table.percentage + '%'}" style="min-width: 10px;">
                                                                                <span class="sr-only">{{table.percentage + '%'}}</span>
                                                                            </div>
                                                                            <span class="progress-type">{{table.table_name}}</span>
                                                                            <span class="progress-completed">{{table.percentage + '%'}}</span>
                                                                        </div>
                                                                    </template>
                                                                    <template v-else>
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-danger" :style="{width:table.percentage + '%'}" style="min-width: 10px;">
                                                                                <span class="sr-only">{{table.percentage + '%'}}</span>
                                                                            </div>
                                                                            <span class="progress-type">{{table.table_name}}</span>
                                                                            <span class="progress-completed">{{table.percentage + '%'}}</span>
                                                                        </div>
                                                                    </template>
                                                                </template>
                                                            </td>
                                                        </tr>
                                                    </template>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab1">
                            <div class="panel panel-default">
                                <div class="panel-body ">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal control-panel">
                                            <div class="form-group">
                                                <label class="col-md-1 control-label">选择分区的表</label>
                                                <div class="col-lg-4">
                                                    <select v-model="selected11" class="form-control" @click="choice">
                                                        <option value="">请选择分区的表</option>
                                                        <option v-for="op in list">{{op}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-horizontal control-panel">
                                            <div class="form-group">
                                                <label class="col-md-1 control-label">选择分区的字段</label>
                                                <div class="col-lg-4 ">
                                                    <select v-model="selected12" class="form-control" >
                                                        <option value="">请选择做分区的字段</option>
                                                        <option v-for="id in twoid" >{{id.column_name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-horizontal control-panel">
                                            <div class="form-group">
                                                <label class="col-md-1 control-label">填入数据</label>
                                                <div class="col-lg-2">
                                                    <input id="base-num" v-model="basenum1" class="form-control" type="text" value="" placeholder="分区数">
                                                </div>
                                                <div class="col-lg-2">
                                                    <input id="base-interval" class="form-control" type="text" placeholder="分区区间">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-horizontal control-panel">
                                            <div class="form-group">
                                                <label class="col-md-1 control-label">选择分区的类型</label>
                                                <div class="col-lg-4">
                                                    <select class="form-control " id="type" v-model="type1">
                                                        <option value="">请选择分区类型</option>
                                                        <option value="RANGE">RANGE</option>
                                                        <option value="HASH">HASH</option>
                                                        <option value="LINEAR HASH">LINEAR HASH</option>
                                                        <option value="KEY">KEY</option>
                                                        <option value="COMPOSITE">COMPOSITE</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-horizontal control-panel">
                                            <div class="form-group">
                                                <label class="col-md-1 control-label">选择分区的类型</label>
                                                <div class="col-lg-4">
                                                    <select class="form-control " id="subtype">
                                                        <option value="">选择子分区类型</option>
                                                        <option value="HASH">HASH</option>
                                                        <option value="LINEAR HASH">LINEAR HASH</option>
                                                        <option value="KEY">KEY</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-horizontal control-panel">
                                            <div class="form-group">
                                                <label class="col-md-1 control-label">填入数据</label>
                                                <div class="col-lg-2">
                                                    <input id="base-subnum" class="form-control" type="text" placeholder="子分区数量">
                                                </div>
                                                <div class="col-lg-2">
                                                    <select v-model="subkey1" class="form-control" >
                                                        <option value="">选择子分区字段</option>
                                                        <option v-for="id in twoid" >{{id.column_name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-offset-1">
                                            <button @click="testpar"id="Testing-partition" class="btn btn-success btn-lg">检测</button>
                                            <button @click="subpar" id="submit-partition" class="btn btn-success btn-lg " disabled>提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2" @click="getdatatwo">
                            <div class="panel panel-default">
                                <div class="panel-body ">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal control-panel">
                                            <div class="form-group">
                                                <label class="col-md-1 control-label">选择分区的表</label>
                                                <div class="col-lg-4">
                                                    <select v-model="selected21" class="form-control" @click="choice2">
                                                        <option value="">请选择分区的表</option>
                                                        <option v-for="op in list2" v-bind:value="op.id">{{op.tbl_name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-horizontal control-panel">
                                            <div class="form-group">
                                                <label class="col-md-1 control-label">选择分区的字段</label>
                                                <div class="col-lg-4">
                                                    <select v-model="selected22" class="form-control" >
                                                        <option value="">请选择做分区的字段</option>
                                                        <option v-for="id in twoid2" >{{id.column_name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-horizontal control-panel">
                                            <div class="form-group">
                                                <label class="col-md-1 control-label">填入数据</label>
                                                <div class="col-lg-2">
                                                    <input id="base-num2" class="form-control" type="text" value="" placeholder="分区数">
                                                </div>
                                                <div class="col-lg-2">
                                                    <input id="base-interval2" class="form-control" type="text" placeholder="分区区间">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-horizontal control-panel">
                                            <div class="form-group">
                                                <label class="col-md-1 control-label">选择分区的类型</label>
                                                <div class="col-lg-2">
                                                    <select class="form-control " id="type2" v-model="type2">
                                                        <option value="">请选择分区类型</option>
                                                        <option value="RANGE">RANGE</option>
                                                        <option value="HASH">HASH</option>
                                                        <option value="LINEAR HASH">LINEAR HASH</option>
                                                        <option value="KEY">KEY</option>
                                                        <option value="COMPOSITE">COMPOSITE</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-horizontal control-panel">
                                            <div class="form-group">
                                                <label class="col-md-1 control-label">选择分区的类型</label>
                                                <div class="col-lg-2">
                                                    <select class="form-control " id="subtype2">
                                                        <option value="">选择子分区类型</option>
                                                        <option value="HASH">HASH</option>
                                                        <option value="LINEAR HASH">LINEAR HASH</option>
                                                        <option value="KEY">KEY</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-horizontal control-panel">
                                            <div class="form-group">
                                                <label class="col-md-1 control-label">填入数据</label>
                                                <div class="col-lg-2">
                                                    <input id="base-subnum2" class="form-control" type="text" placeholder="子分区数量">
                                                </div>
                                                <div class="col-lg-2">
                                                    <select v-model="subkey2" class="form-control" >
                                                        <option value="">选择子分区字段</option>
                                                        <option v-for="id in twoid2" >{{id.column_name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-lg-offset-1">
                                            <button @click="testpar2" id="Testing-partition2" class="btn btn-success btn-lg">检测</button>
                                            <button @click="subpartwo" id="submit-partition2" class="btn btn-success btn-lg " disabled>提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab3" @click="getdata">
                            <div class="panel panel-default">
                                <div class="panel-body ">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal control-panel">
                                            <div class="form-group">
                                                <label class="col-md-1 control-label">选择分区的字段</label>
                                                <div class="col-lg-4">
                                                    <select v-model="selected3" class="form-control">
                                                        <option value="">请选择分区表</option>
                                                        <option v-for="list in list3" v-bind:value="list.id">{{list.tbl_name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-horizontal control-panel">
                                            <div class="form-group">
                                                <label class="col-md-1 control-label">填入数据</label>
                                                <div class="col-lg-2">
                                                    <input id="base-num3" type="text" value="" class="form-control" placeholder="要增加的分区数">
                                                </div>
                                                <div class="col-lg-2">
                                                    <input id="base-subnum3" type="text" value="" class="form-control" placeholder="要增加的子分区数">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-lg-offset-1">
                                            <button @click="testpar3" id="Testing-partition3" class="btn btn-success btn-lg">检测</button>
                                            <button @click="subpar3" id="submit-partition3" class="btn btn-success btn-lg " disabled>提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <!--<div class="container">
            <div class="row">
                <pre>{{ $data | json }}</pre>
            </div>
        </div>-->

        <!-- 页脚 -->
        <div class="container-fluid footer-fluid">
            <div class="contaier">
                <div class="row">
                    <div class="col-lg-12">
                        © All rights reserved 深圳福克斯德信息咨询有限公司
                    </div>
                </div>
            </div>
        </div>

        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="js/jquery.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/cookie.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="js/bootstrap.min.js"></script>
        <script src='js/layer.js'></script>
        <!-- 检测登录状态 -->
        <script src='js/control.js'></script>
        <script src='js/serverUrl.js'></script>
        <script src='js/navTpl.js'></script>
        <script src="js/database.js"></script>
    </body>
</html>