<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>资料表流程-选择图片</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/index.css" rel="stylesheet">
    <link href="css/picUpload.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
    <body>
        <!-- 顶部区域 -->
        <div class="container-fluid header-fluid-top">
            <div class="row">
                <div class="container header-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <a href="#">
                                <img src="images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 导航 -->
        <div class="navbar navbar-inverse nav-fluid-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="Table-info.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])">资料表首页</a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        
                    </ul>
                    <log-component></log-component>
                </div>
            </div>
        </div>

        <!-- 主内容区域 -->

        <!-- 步骤 -->
        <div class="container marginTop">
            <div class="row">
                <div class="container">
                    <div class="row form-group">
                        <div class="col-md-12 col-xs-12">
                            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                                <li class="disabled">
                                    <a href="javascript:">
                                        <h3 class="list-group-item-heading">第一步</h3>
                                        <p class="list-group-item-text">
                                            <h4>创建表格</h4>
                                            <i class="fa fa-table fa-3x"></i>
                                        </p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="javascript:">
                                        <h3 class="list-group-item-heading">第二步</h3>
                                        <p class="list-group-item-text">
                                            <h4>选择图片</h4>
                                            <i class="fa fa-file-image-o fa-3x"></i>
                                        </p>
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a href="javascript:">
                                        <h3 class="list-group-item-heading">第三步</h3>
                                        <p class="list-group-item-text">
                                            <h4>编辑产品</h4>
                                            <i class="fa fa-edit fa-3x"></i>
                                        </p>
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a href="javascript:">
                                        <h3 class="list-group-item-heading">第四步</h3>
                                        <p class="list-group-item-text">
                                            <h4>完成生效</h4>
                                        </p>
                                        <i class="fa fa-check fa-3x"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <ul id="myTab" class="nav nav-tabs" role="tablist" style="background-color: #fff;">
                                    <li role="presentation" class="active">
                                        <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">常规信息</a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">图片</a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#relate" role="tab" id="relate-tab" data-toggle="tab" aria-controls="relate" aria-expanded="false">产品</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12 marginTop">
                                <div id="myTabContent" class="tab-content">
                                    <!-- 常规信息 -->
                                    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <dl class="dl-horizontal">
                                                     <dt>表格编号:</dt>
                                                     <dd>{{tableInfo.form_no}}</dd>
                                                     <dt>所属类目:</dt>    
                                                     <dd>{{tableInfo.name}}</dd>
                                                     <dt>所属客户:</dt>
                                                     <dd>{{tableInfo.client_name}}</dd>
                                                     <dt>产品数量:</dt>
                                                     <dd>{{tableInfo.product_count}}</dd>
                                                     <dt>状态:</dt>
                                                     <dd>{{tableInfo.status_code}}</dd>
                                                </dl>
                                            </div>
                                            <div class="col-md-4">
                                                <dl class="dl-horizontal">
                                                     <dt>表格名称:</dt>
                                                     <dd>{{tableInfo.title}}</dd>
                                                     <dt>使用模板:</dt>    
                                                     <dd>{{tableInfo.tempname}}</dd>
                                                     <dt>产品类型:</dt>
                                                     <dd v-show="tableInfo.variant_num!=0">变体</dd>
                                                     <dd v-show="tableInfo.variant_num==0">主体</dd>
                                                     <dt>变体数量:</dt>
                                                     <dd v-show="tableInfo.variant_num!=0">
                                                        {{tableInfo.variant_num}}
                                                     </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 图片 -->
                                    <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="clearfix">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 textLeft control-label text-primary">图片目录:</label>
                                                            <div class="col-sm-4">
                                                                <div class="bootstrap-tagsinput hand">
                                                                    <span class="tag label label-info marr" v-for="cata in cataselect">
                                                                        {{cata.name}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <button @click="selectPicfolder" class="btn btn-default btn-sm">选择目录</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </p>
                                                <p class="clearfix">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 textLeft control-label text-primary">图片标签(可选填):</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" v-model="selectedTag" class="form-control" placeholder="输入标签，多个标签以“,”号隔开" >
                                                            </div>
                                                            <!-- <div class="col-sm-1">
                                                                <button class="btn btn-default btn-sm">选择标签</button>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </p>
                                                <p class="clearfix">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 textLeft control-label text-primary">图片、产品重用比:</label>
                                                            <div class="col-sm-1">
                                                                <select v-model="pic_rate" class="form-control">
                                                                    <option selected>1</option>
                                                                    <option >2</option>
                                                                    <option >3</option>
                                                                    <option >4</option>
                                                                    <option >5</option>
                                                                    <option >6</option>
                                                                    <option >7</option>
                                                                    <option >8</option>
                                                                    <option >9</option>
                                                                    <option >10</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <select v-model="pro_rate" class="form-control">
                                                                    <option selected>1</option>
                                                                    <option >2</option>
                                                                    <option >3</option>
                                                                    <option >4</option>
                                                                    <option >5</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </p>
                                                <p class="clearfix">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 textLeft control-label text-primary">
                                                                图片重用周期(月):
                                                            </label>
                                                            <div class="col-sm-1">
                                                                <select v-model="re_date" class="form-control">
                                                                    <option >1</option>
                                                                    <option >2</option>
                                                                    <option selected>3</option>
                                                                    <option >4</option>
                                                                    <option >5</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </p>
                                                <p class="clearfix">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 textLeft control-label text-primary">图片类型:</label>
                                                            <div class="col-sm-2">
                                                                <select v-model="file_type" class="form-control">
                                                                    <option value="jpg" selected>jpg</option>
                                                                    <option value="png">png</option>
                                                                    <option value="gif">gif</option>
                                                                    <option value="all">全部</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </p>
                                                <p class="text-center">
                                                    <div class="col-sm-3 col-sm-offset-2">
                                                        <button @click="searchPic" :disabled="getPic" class="btn btn-info">自动选图</button>
                                                        <button @click="resetData" class="btn btn-default">重置</button>
                                                    </div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 产品 -->
                                    <div role="tabpanel" class="tab-pane fade" id="relate" aria-labelledby="relate-tab">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="alert alert-warning" v-show="pro_zone">
                                                            请先补全图片
                                                        </div>
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">所属类目:</label>
                                                                <div class="col-sm-4">
                                                                    <input type="text" v-model="pro.cn_name" placeholder="选择类目" class="form-control" readonly>
                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <button class="btn btn-info btn-sm searchBtn">搜索</button>
                                                                </div>
                                                                <div class="col-sm-3 pors searchCompent">
                                                                    <input type="text" class="form-control searchShadow searchCate" placeholder="输入关键字搜索类目">
                                                                    <ul class="cate-list">
                                                                        <li @click="selectCate(pro)" v-for="pro in proList">
                                                                            {{pro.cn_name}} {{pro.en_name}}
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-sm-1 text-left paddingLeft searchCompent">
                                                                    <button class="btn btn-default closeBtn searchShadow">
                                                                        <i class="fa fa-close"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">所属产品:</label>
                                                                <div class="col-sm-4">
                                                                    <input type="text" v-model="relate.cn_name" placeholder="选择产品" class="form-control" readonly>
                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <button class="btn btn-info btn-sm searchBtn2" :disabled="relateable"> 搜索
                                                                    </button>
                                                                </div>
                                                                <div class="col-sm-3 pors searchCompent2">
                                                                    <input type="text" class="form-control searchShadow searchCate2" placeholder="输入关键字搜索产品">
                                                                    <ul class="cate-list">
                                                                        <li @click="selectRelate(relate)" v-for="relate in relateList">
                                                                            {{relate.cn_name}} {{relate.en_name}}
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-sm-1 text-left paddingLeft searchCompent2">
                                                                    <button class="btn btn-default closeBtn2 searchShadow">
                                                                        <i class="fa fa-close"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1 col-md-offset-3">
                                                            <button @click="goRelate" class="btn btn-default" :disabled="pro_zone">关联</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th class="text-center">产品类目</th>
                                                        <th class="text-center">产品名称</th>
                                                        <th class="text-center">操作</th>
                                                    </tr>
                                                    <tr class="text-center" v-for="rList in relateValList">
                                                        <td>{{rList.category_cn}} {{rList.category_en}}</td>
                                                        <td>{{rList.cn_name}} {{rList.en_name}}</td>
                                                        <td>
                                                            <button @click="deleteRelate(rList)" class="btn btn-danger">删除</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="col-md-1 col-md-offset-4">
                                                    <button @click="fitData" class="btn btn-info" :disabled="fitBtn">匹配</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm clearfix">
                        <p>
                            <b class="text-primary">自动选图结果</b>
                        </p>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-2">
                                <label class="label label-primary">图片需求量:</label>
                                <span class="text-muted">{{count}}</span>
                            </div>
                            <div class="col-md-2">
                                <label class="label label-primary">可用图片量:</label>
                                <span class="text-muted">{{num_now}}</span>
                            </div>
                            <div class="col-md-2">
                                <label class="label label-warning">图片不足数:</label>
                                <span class="text-warning">{{not_enough}}</span>
                            </div>
                        </div>
                    </div>
                    <div v-show="not_enough>0" class="well sell-sm clearfix">
                        <div class="col-md-12">
                            <a class="btn btn-primary" href="pic-category.html" target="_blank" >        前往图片库
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 匹配前 -->
        <div class="container" v-show="PicTable">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b class="text-primary">预选图片产品</b>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th>序号</th>
                                    <th>图片预览</th>
                                    <th>标题</th>
                                    <th>图片类型</th>
                                    <th>图片大小</th>
                                    <th>图片尺寸(宽X高)</th>
                                </tr>
                                <template v-for="list in picData">
                                    <template v-if="$index<10">
                                        <tr>
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <div class="img-col">
                                                    <img :src="list | imgUrl" alt="" width="80" height="80">
                                                    <div class="img-hover">
                                                        <img :src="list | imgUrl" alt="">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{list.title}}</td>
                                            <td>{{list.file_type}}</td>
                                            <td>{{list.file_size | sizeCounter}}</td>
                                            <td>{{list.width}}X{{list.height}}</td>
                                        </tr>
                                    </template>
                                    <template v-else>
                                        <tr v-show="seeMore">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <div class="img-col">
                                                    <img :src="list | imgUrl" alt="" width="80" height="80">
                                                    <div class="img-hover">
                                                        <img :src="list | imgUrl" alt="">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{list.title}}</td>
                                            <td>{{list.file_type}}</td>
                                            <td>{{list.file_size | sizeCounter}}</td>
                                            <td>{{list.width}}X{{list.height}}</td>
                                        </tr>
                                    </template>
                                </template>
                            </table>
                            <div class="row" v-show="picData.length>1">
                                <div class="col-md-4 col-md-offset-5" v-show="!seeMore">
                                    <a href="javascript:" @click="toSeeMore" class="btn btn-link">
                                        查看更多
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 匹配后 -->
        <div class="container-fluid" v-show="tableHead">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b class="text-primary">预选图片产品</b>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th>序号</th>
                                    <th v-for="key in tableHead">{{key}}</th>
                                </tr>
                                
                                <template v-for="allData in tableData">
                                    <template v-if="$index%2==0">
                                        <tr>
                                            <td>{{$index+1}}</td>
                                            <td v-for="key in tableHead">
                                                <template v-if="key == 'photo'">
                                                    <div class="img-col">
                                                        <img :src="allData[key] | imgUrl2" alt="" width="80" height="80">
                                                        <div class="img-hover">
                                                            <img :src="allData[key] | imgUrl2" alt="">
                                                        </div>
                                                    </div>
                                                </template>
                                                <template v-else>
                                                    {{allData[key]}}
                                                </template>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else>
                                        <tr class="info">
                                            <td>{{$index+1}}</td>
                                            <td v-for="key in tableHead">
                                                <template v-if="key == 'photo'">
                                                    <div class="img-col">
                                                        <img :src="allData[key] | imgUrl2" alt="" width="80" height="80">
                                                        <div class="img-hover">
                                                            <img :src="allData[key] | imgUrl2" alt="">
                                                        </div>
                                                    </div>
                                                </template>
                                                <template v-else>
                                                    {{allData[key]}}
                                                </template>
                                            </td>
                                        </tr>
                                    </template>
                                </template>
                            </table>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-success" @click="NextStep" :disabled="NextStepStatus">
                                    完成选图
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal selectPic fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h4 class="modal-title text-center">选择图片目录</h4>
                        <button type="button" class="close close-positon" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid" >
                            <ul class="tree" >
                                <tree
                                    class="item"
                                    :pictree="pictree">
                                </tree>
                            </ul>
                        </div>
                        <div><h5>已经选中的目录</h5>
                            <div class="bootstrap-tagsinput hand">
                            <span @click="removecata(cata)" class="tag label label-info marr" v-for="cata in cataselect">
                                {{cata.name}}<span class="fa fa-remove" @click="removecata(cata)"></span>
                            </span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 图片树形目录template -->
        <script type="text/x-template" id="pic-template">
            <li>
                <div
                    class="label label-primary"
                    :class="{bold: isFolderP}"
                    v-show="pictree.id"
                    @click="toggle(pictree)">
                    <span class="glyphicon glyphicon-folder-close" v-show="isFolderP"></span>
                    <span class="glyphicon glyphicon-file" v-show="!isFolderP"></span>
                    {{pictree.cn_name}}
                    {{pictree.en_name}}
                    <b v-show="pictree.id">图片数量:{{pictree.picture_count}}</b>
                    {{pictree.warning}}
                    <span class="text-white" v-if="isFolderP">[{{open ? '-' : '+'}}]</span>
                    <span class="fa fa-arrow-circle-down marr" @click="selectOne(pictree)">点击选择</span>
                </div>
                <p v-show="!pictree.id">没有图片目录</p>
                <ul class="tree2" v-show="open" v-if="isFolderP" >
                    <tree
                        class="item"
                        v-for="pictree in pictree.children"
                        :pictree="pictree">
                    </tree>
                </ul>
            </li>
        </script>

        <!-- 回到顶部 -->
        <div class="scrollToTop">
            <i class="fa fa-3x fa-angle-up" aria-hidden="true"></i>
        </div>
        
        <div class="container">
            <div class="row">
                <!-- <pre>{{$data|json}}</pre> -->
            </div>
        </div>

        <!-- 页脚 -->
        <div class="container-fluid footer-fluid">
            <div class="contaier">
                <div class="row">
                    <div class="col-lg-12">
                        © All rights reserved 深圳福克斯德信息咨询有限公司
                    </div>
                </div>
            </div>
        </div>

        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="js/jquery.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/cookie.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="js/bootstrap.min.js"></script>
        <script src='js/layer.js'></script>
        <!-- 检测登录状态 -->
        <script src='js/control.js'></script>
        <script src='js/serverUrl.js'></script>
        <script src='js/navTpl.js'></script>
        <script src='js/TableWorkflow-selectPic.js'></script>
    </body>
</html>