<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>词库项目详情</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--你自己的样式文件 -->
    <link href="css/index.css" rel="stylesheet">
    <link href="css/picUpload.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
            background-color: #428bca!important;
            color: #fff!important;
        }
        .dl-horizontal  dt,.dl-horizontal  dd {
            margin-bottom: 20px;
        }
    </style>
</head>
    <body>
        <!-- 顶部区域 -->
        <div class="container-fluid header-fluid-top">
            <div class="row">
                <div class="container header-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <a href="#">
                                <img src="images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 导航 -->
        <div class="navbar navbar-inverse nav-fluid-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="Thesaurus.html" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])">词库首页</a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        
                    </ul>
                    <log-component></log-component>
                </div>
            </div>
        </div>

        <!-- 主内容区域 -->
        <div class="container marginTop">
            <div class="row">
                <div class="col-md-12">
                    <ul id="myTab" class="nav nav-tabs" role="tablist" style="background-color: #fff;">
                        <li role="presentation" class="active">
                            <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">项目信息</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">项目内容值</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#relate" role="tab" id="relate-tab" data-toggle="tab" aria-controls="relate" aria-expanded="false">关联产品</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 marginTop">
                    <div id="myTabContent" class="tab-content">
                        <!-- 项目信息 -->
                        <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <dl class="dl-horizontal">
                                                     <dt>项目名称：</dt>
                                                     <dd>{{info.name}}</dd>
                                                     <dt>状态:</dt>    
                                                     <dd>{{enabled}}</dd>
                                                     <dt>项目描述:</dt>
                                                     <dd>
                                                         {{info.remark}}
                                                     </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 项目内容值 -->
                        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th class="text-center">项目名称</th>
                                                        <th class="text-center">内容值</th>
                                                    </tr>
                                                    <tr class="text-center" v-for="table in valueList" track-by="id">
                                                        <td>{{table.name}}</td>
                                                        <td class="text-left">
                                                            <p>{{table.value}}</p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 关联产品 -->
                        <div role="tabpanel" class="tab-pane fade" id="relate" aria-labelledby="relate-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th class="text-center">产品类目</th>
                                                        <th class="text-center">产品名称</th>
                                                    </tr>
                                                    <tr class="text-center" v-for="rList in relateValList">
                                                        <td>{{rList.category_cn}} {{rList.category_en}}</td>
                                                        <td>{{rList.cn_name}} {{rList.en_name}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container marginTop">
            <div class="row">
                <div class="col-md-12 text-center">
                    <button @click="jumpXG" class="btn btn-info">修改</button>
                    <button @click="deleteItem" class="btn btn-danger">删除</button>
                    <a href="Thesaurus.html" class="btn btn-default">返回</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <hr>
                <!-- <pre>{{$data|json}}</pre> -->
            </div>
        </div>

        <!-- 页脚 -->
        <div class="container-fluid footer-fluid">
            <div class="contaier">
                <div class="row">
                    <div class="col-lg-12">
                        © All rights reserved 深圳福克斯德信息咨询有限公司
                    </div>
                </div>
            </div>
        </div>

        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="js/jquery.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/cookie.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="js/bootstrap.min.js"></script>
        <script src='js/layer.js'></script>
        <!-- 检测登录状态 -->
        <script src='js/control.js'></script>
        <script src='js/serverUrl.js'></script>
        <script src='js/navTpl.js'></script>
        <script src='js/Thesaurus-info.js'></script>
    </body>
</html>